body {
    font-family: "Open Sans", sans-serif; 
}


h1,h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #663300;
}

header h2 {
    color:#CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#aa6c0f, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #dddacd, #ffea80, #fc941d);
    color: rgb(252, 252, 252);
}


.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color:#c93b10;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.carousel-caption{
    background-color: rgba(0,0,0, 0.5);
}

.carousel {
    border: solid #341f0c;
}

.backgroundImage{
    background-image: url("/img/daan-weijers-pSaEMIiUO84-unsplash\ \(2\).jpg");
    opacity: .3;
}

.footerLinks{
    color:#341f0c;
}